/* style.css */

/* Centering the links on the page */
.centered-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Styling for individual links */
a {
    display: block;
    margin: 10px;
    font-size: 20px;
    color: blue;
    text-decoration: none;
}

.background {

    background-color: #C6E7E6;
}

.bot-centre {
    text-align: center;
    margin-bottom: 30px; /* Adjust as needed */
}

.bot-centre img {
    width: auto; /* Or set a fixed width */
    height: auto; /* Or set a fixed height */
}
